.idea
data
notebooks/config*
docs/_build
*__pycache__*
**.ipynb_checkpoint**
*.egg-info/*
**-checkpoint.ipynb
.vscode
*.pyc

test_run/*

.tox
build
.pytest_cache

face_rhythm.egg-info
dist

# RH added
.DS_Store
data_test/
.vscode/
.fuse_hidden*
__pycache__/
.fr-*