## requirements.txt

numpy
jupyter
notebook<7
tensorly
opencv-contrib-python==4.8.0.74
imageio
matplotlib
scikit-learn==1.3.0
scikit-image
pyyaml
imageio-ffmpeg
tqdm
h5py
pynwb
ipywidgets
Pillow
opt_einsum
eva-decord
natsort
pandas
tables
einops
pytest
torch
torchvision
torchaudio
nvidia-ml-py3
py-cpuinfo
GPUtil
psutil