## requirements.txt

numpy==1.26.3
jupyter
notebook<7
tensorly==0.8.1
opencv-contrib-python==4.9.0.80
matplotlib
scikit-learn==1.4.0
scikit-image
pyyaml
tqdm
h5py
ipywidgets
Pillow
eva-decord
natsort
pandas
tables
einops
pytest
torch
torchvision
torchaudio
nvidia-ml-py3
py-cpuinfo
GPUtil
psutil