## requirements.txt

numpy==1.26.4
jupyter
notebook<8
tensorly==0.8.1
opencv_contrib_python==4.9.0.80
matplotlib
scikit_learn==1.4.1.post1
scikit_image
pyyaml
tqdm
h5py
ipywidgets
Pillow
eva_decord
natsort
pandas
tables
einops
pytest
torch
torchvision
torchaudio
nvidia_ml_py3
py_cpuinfo
GPUtil
psutil
requests